* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
}

body {
    background: #BCC2CA;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

li {
    list-style-type: none;
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: 200;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1.1em;
    font-weight: 300;
}

.phone-image {
    position: absolute;
    height: 100%;
    border: 1px solid #bcc2cb;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 500px 0px 77px 100px rgba(0, 0, 0, 0.1), -500px 0px 77px 100px rgba(0, 0, 0, 0.1);
    /*background: linear-gradient(#bcc2cb, #808891);*/
    background-image: url('images/fog.jpg');
    background-size: 100% 100%;
}

div {
    display: block;
}

nav {
    position: absolute;
    width: 100%;
    height: 44px;
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    width: 100%;
    padding: 18px;
}

.container .app .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 20px #55575b;
}

.container .app .header h3 {
    margin: 0;
    font-weight: 300;
    font-size: 32px;
}

.sunrise-sunset {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: 15px;
}

.sunrise-sunset .today-sunrise-sunset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    overflow-x: scroll;
    border-top: 1px solid rgb(255, 255, 255, 0.317);
}

.today-sunrise-sunset .forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-height: 90px;
}

.sunrise-sunset h4 {
    font-size: 13px;
    font-weight: 400;
    margin: 5px 10px;
    opacity: 0.5;
}

.icon {
    width: 28px;
    height: 33px;
}

img {
    width: 25px;
    height: 25px;
}

.additional-details {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.additional-details h4 {
    font-size: 13px;
    font-weight: 400;
    margin: 5px 10px;
    opacity: 0.5;
}

.three-additional-details {
    display: grid;
    grid-template-columns: 120px repeat(auto-fill, 80px) 138px;
    justify-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.317);
    align-items: center;
    height: 56px;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.low-high {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.high {
    padding-left: 20px;
}

input {
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1em;
    padding: 10px 25px;
    margin-bottom: 0;
    margin-right: 10px;
}

::placeholder {
    color: white;
    opacity: 70%;
    font-size: 1em;
}

.submit {
    font-size: 1em;
    border: none;
    box-shadow: 1px 1px 10px #55575b;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s all;
}

.submit:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clear-weather {
    background-image: url('images/clear.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.rainy-weather {
    background-image: url('images/rain.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cloudy-weather {
    background-image: url('images/clouds.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.snow-weather {
    background-image: url('images/snow.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.thunderstorm-weather {
    background-image: url('images/thunderstorm.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.drizzle-weather {
    background-image: url('images/drizzle.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fog-weather {
    background-image: url('images/fog.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

